@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .back {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('../images/background-off.jpg');
    color: transparent;
  }
  .egg {
    display: block;
    width: 126px;
    /* width has to be 70% of height */
    /* could use width:70%; in a square container */
    height: 160px;
    background-color: white;

    /* beware that Safari needs actual
 px for border radius (bug) */
    /* -webkit-border-radius: 63px 63px 63px 63px/ 108px 108px 72px 72px; */
    /* fails in Safari, but overwrites in Chrome */
    border-radius: 0% 63% 22% 0% / 0% 57% 43% 0%;
  }
  .size-selector input:checked + label {
    @apply bg-primary text-white;
  }

  .color-selector input:checked + label {
    @apply ring-2 ring-primary;
  }

  .input-box {
    @apply w-full block border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400;
  }
}
